<BODY background="./css/assets/headerBackground.jpg" BGCOLOR="#000000" BGPROPERTIES="FIXED">
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-xs-12">
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <br><br>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <h1 class="header"> SHARE YOUR <br>HOLIDAY DREAM</h1>
        </div>
        <div class="col-xs-4">
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <p class="smallerText">And find the perfect partner to fulfill it</p>
        </div>
        <div class="col-xs-4">
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <br>
          <br>
          <div class="getThere">
            <button type="button" class="btn btn-danger"><strong>Find your holiday partner</strong></button>
          </div>
        </div>
        <div class="col-xs-4">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</BODY>
<div class="row">
  <div class="col-xs-12">
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br><br>
  </div>
</div>
<div class="pagebreak">
  <div class="row">
    <h3 class="meetWithTitle"><strong>Meet a partner for your best holiday</strong></h3>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
        <img src="./css/assets/partner1.jpg" alt="...">
        <img src="./css/assets/music.svg" alt="...">
        <div class="caption">
          <h5><strong>Bradley Hunter</strong></h5>
          <p>Based in Chigago. I love playing <br> tennis and loud music</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
        <img src="./css/assets/partner1.jpg" alt="...">
        <img src="./css/assets/music.svg" alt="...">
        <div class="caption">
          <h5><strong>Bradley Hunter</strong></h5>
          <p>Based in Chigago. I love playing <br> tennis and loud music</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
        <img src="./css/assets/partner1.jpg" alt="...">
        <img src="./css/assets/music.svg" alt="...">
        <div class="caption">
          <h5><strong>Bradley Hunter</strong></h5>
          <p>Based in Chigago. I love playing <br> tennis and loud music</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
        <img src="./css/assets/partner1.jpg" alt="...">
        <img src="./css/assets/music.svg" alt="...">
        <div class="caption">
          <h5><strong>Bradley Hunter</strong></h5>
          <p>Based in Chigago. I love playing <br> tennis and loud music</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
      </div>
    </div>
  </div>
</div>
