<BODY background="./css/assets/headerBackground.jpg" BGCOLOR="#000000" BGPROPERTIES="FIXED">
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-xs-12">
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <h1 class="header"> SHARE YOUR <br>HOLIDAY DREAM</h1>
        </div>
        <div class="col-xs-4">
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <p class="smallerText">And find the perfect partner to fulfill it</p>
        </div>
        <div class="col-xs-4">
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <br>
          <br>
          <div class="getThere">
            <button type="button" class="btn btn-danger"><strong>Find your holiday partner</strong></button>
          </div>
        </div>
        <div class="col-xs-4">
          <br>
          <br>
        </div>
        <div class="col-xs-4">
          <br>
          <br>
        </div>
        <div class="col-xs-4">
          <br>
          <br>
        </div>
        <div class="col-xs-4">
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</BODY>
<div class="row">
  <div class="col-xs-4">
    <br>
    <br>
    <br>
  </div>
  <div class="col-xs-12">
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br><br>
  </div>
</div>
<div class="pagebreak">
  <div class="row" id="secndPage">
    <h3 class="meetWithTitle"><strong>Meet a partner for your best holiday</strong></h3>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">

        <img class="parent" src="./css/assets/partner1.jpg" alt="...">
        <div class="imageChild" id="child1">
          <img class="image1" src="./css/assets/music.svg" alt="...">
        </div>
        <div class="caption">
          <h5><strong>Bradley Hunter</strong></h5>
          <p>Based in Chigago. I love playing <br> tennis and loud music</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
        <img class="parent" src="./css/assets/partner2.jpg" alt="...">
        <div class="imageChild" id="child2">
          <img class="image1" src="./css/assets/brush.svg" alt="...">
        </div>
        <div class="caption">
          <h5><strong>Marie Bennett</strong></h5>
          <p>Based in Colorado. Lover of <br> art, languages and traveling.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
        <img class="parent" src="./css/assets/partner3.jpg" alt="...">
        <div class="imageChild" id="child3">
          <img class="image1" src="./css/assets/camera.svg" alt="...">
        </div>
        <div class="caption">
          <h5><strong>Diana Wells</strong></h5>
          <p>Living in Athens, Greece. I love black and white classics, chillout music and green tea.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
        <img class="parent" src="./css/assets/partner4.jpg" alt="...">
        <div class="imageChild" id="child4">
          <img class="image1" src="./css/assets/airplane.svg" alt="...">
        </div>
        <div class="caption">
          <h5><strong>Christopher Pierce</strong></h5>
          <p>Star Wars fanatic. I have a <br> persistent enthusiasm to create new things.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="thumbnail">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <br>
      <br>
      <div class="seeAnotherOnes">
        <button type="button" class="btn btn-default"><strong>See other partners</strong></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="pagebreak">
    <div class="row">
      <h3 class="meetWithTitle"><strong>Discover holiday activity ideas</strong></h3>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-3 col-md-3">
        <div class="actIdeasRow1">
          <img src="css/assets/block1Sports.jpg" alt="...">
          <div class="smallLayer">
              </div>
              <h3><strong class="sports">Sports</strong></h3>
        </div>
      </div>
      <div class="col-xs-3 col-md-3">
        <div class="actIdeasRow1">
          <img src="css/assets/block2Wellness.jpg" alt="...">
            <div class="smallLayer">
                </div>
                <h3><strong class="wellness" >Wellness and Health</strong><h3>
        </div>
      </div>
      <div class="col-xs-3 col-md-3">
        <div class="actIdeasRow1">
          <img src="css/assets/block3Expeditions.jpg" alt="...">
          <div class="smallLayer">
              </div>
              <h3><strong class="expeditions" >Expeditions</strong></h3>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-3 col-md-3">
        <div class="actIdeasRow1">
          <img src="css/assets/block4Games.jpg" alt="...">
          <div class="smallLayer">
          </div>
          <h3><strong class="games" >Games</strong></h3>
        </div>
      </div>
      <div class="space">
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="actIdeasRow1">
          <img src="css/assets/block5Culture.jpg" alt="...">
            <div class="layer">
                </div>
                <h3><strong class="culture" >Culture and Education</strong><h3>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-6 col-md-6">
        <div class="actIdeasRow1">
          <img src="css/assets/block6Beauty.jpg" alt="...">
            <div class="layer">
                </div>
                <h3><strong class="beauty" >Beauty and Relaxation</strong><h3>
        </div>
      </div>
      <div class="col-xs-3 col-md-3">
        <div class="actIdeasRow1">
          <img src="css/assets/block7Travelling.jpg" alt="...">
          <div class="smallLayer">
              </div>
              <h3><strong class="travelling" >Travelling</strong></h3>
        </div>
      </div>

    </div>
  </div>
  <br>
<hr class="footerHrL">
<div class="">

</div>
