body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Montserrat';
  color: white;
}

html {
  height: 100%
}
.appName {
  font-family: 'Roboto Condensed';
  display: contents;
  color: white;
}
ul.nav.navbar-nav.navbar-right li a {
  background: black;
  color: white;
}

h1.header {
  text-align: center;
  font-family: 'Roboto Condensed';
}

/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.row {
  margin: 0px;
  padding: 0px;
}

.smallerText {
  text-align: center;
  font-size: x-large;
}
div.getThere {
text-align: center;
}
.btn-danger{
  border-radius: 25px;
}
div.getThere strong {
font-size: x-large;
}
div.seeAnotherOnes {
  text-align: center;
}
div.seeAnotherOnes strong {
  font-size: x-large;
}
.btn-default {
  border: 2px solid red;
  color: red;
  border-radius: 5em;

}

.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav>li>a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-default {
  opacity: 0.5;
  margin-left: 150px;
  border-color: rgba(0,0,0,.0001);
  margin-right: 150px;
  font-size: large;
  background-color: #f0f8ff00;
}
@media print {
  footer .pagebreak {page-break-before: always;}
}
.meetWithTitle {
  text-align: center;
  color: #444444;
}
div.thumbnail img{
  border-radius: 5em;
  padding: 7px;
}
div.thumbnail {
  border: white;
}
div.caption {
  text-align: center;
  color: #444444;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.imageChild {
  position: absolute;
  top: 90px;
  left: 159px;
  border-radius: 3em;
  height: 37px;
  text-align: center;
  width: 37px;
  border: 3px solid white;
}

#child1 {
  background-color: #FF4E50;
}
#child2 {
  background-color: #18D4CA;
}
#child3 {
  background-color: #FFA710;
}
#child4 {
  background-color: #667DF3;
}
.meetWithTitle {
  color: #444444
}
.smallLayer {
    background-color: rgba(0, 0, 0, 0.42);
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 15px;
    width: 94%;
    height: 94%;
}
.layer {
    background-color: rgba(0, 0, 0, 0.42);
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 15px;
    width: 619px;
    height: 94%;
}
.actIdeasRow1 img {
  vertical-align: middle;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.sports {
  left: 125px;
  color: black;
  top: 150px;
  position: absolute;
}
.wellness {
  left: 40px;
  top: 150px;
  position: absolute;
}
.expeditions {
  left: 85px;
  top: 150px;
  position: absolute;
}
.games {
  left: 115px;
  top: 150px;
  position: absolute;
}
.culture {
  left: 170px;
  top: 150px;
  position: absolute;
}
.beauty {
  left: 170px;
  top: 150px;
  position: absolute;
}
.travelling {
  left: 115px;
  top: 150px;
  position: absolute;
}
div.row div.col-md-3 {
  width: 21%;
}
div.row div.col-md-6 {
  width: 42%;
}
.footerHrL {
  border: 1px solid #FF4E50;
}
@media (min-width: 481px) and (max-width: 767px) {

  .parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .imageChild {
    position: absolute;
    top: 90px;
    left: 355px;
    border-radius: 3em;
    height: 37px;
    text-align: center;
    width: 37px;
    border: 3px solid white;
  }
  .secndPage {
    padding-top: 849px;
  }


}
